<p><%= t(:hello).capitalize %> <%= @resource.email %>!</p>

<p>パスワードリセットのご連絡</p>

<p><%= link_to 'パスワードの変更はこちら', edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>

<p>このメールにお心当たりがない場合はお手数ですが、お問い合わせください</p>
